*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
    overflow-x: hidden;

  
  }
  
  
  
  
  /*Navigation*/
  
  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1c1c1c;
    padding: 20px 40px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
  }
  
  .logo{
    color: #3fc6d0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .nav{
    display: flex;
    align-items: center; 
    
  }
  
  header ul{
    position: relative;
    display: flex;
    gap: 40px;
  }
  
  header ul li{
  list-style: none;
  }  
  
  header ul li a{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #3fc6d0;
  text-transform:uppercase ;
  letter-spacing: 0.2em;
  }  
  
  header ul li a::before{
  content: '';
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #ce2f5d;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  }
  
  header ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
  }
  
  /*Search*/
  
  header.search{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em ;
  z-index: 10;
  }
  
  .search span img {
  cursor: pointer;
  z-index: 20;
  position: relative;
  }
  
  .searchBox{
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #333;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
  }
  
  .searchBox.active{
   transform: translateX(0%);
  }
  
  .searchBox input{
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: #fff;
  font-size: 1.25em;
  background: #333;
  border-bottom: 1px solid #3fc6d0;
  }
  
  .searchBtn{
  position: relative;
  left: 30px;
  top:2.5px;
  transition: 0.5s ease-in-out;
  }
  
  .searchBtn.active{
  left: 0;
  }
  
  
  .closeBtn{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
  
  }
  
  .closeBtn.active{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
  }
  
  
  
  
  
  
  /*Background*/
  
  .bcontainer {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   


  }
  
  
  .bubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
  }
  
  .bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/ var(--i)) ;
  
  }
  
  .bubbles span:nth-child(even){
    background: #ff2d75 ;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
  }
  
  @keyframes animate {
    0%{
      transform: translateY(100vh) scale(0);
    }
    100%{
      transform: translateY(-10vh) scale(1);
    }
  
  }
  
  
  
  
  /* Inhalt*/
  
  .icontainer {
    justify-content: center;
    text-align: center;
    position: relative;
    width: 70%;
    height: 650px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow-y:scroll,hidden;
    overflow-x: hidden;
    margin-top: 100px;
    margin-left: auto; 
    margin-right: auto;
    z-index: 20;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 0 0 15px 15px rgba(0,0,0,0.5);
    
  } 

  h1{
    color: #3fc6d0 ;
    font-weight: 700;
    margin-top: 50px;
    animation: come-in 3s ease-out;
    animation-fill-mode: backwards;
  }

  h2{
    color: #ce2f5d;
    font-weight: 500;
    padding-top: 40px;
    animation: come-in 6s ease-out;
    animation-fill-mode: backwards;
  }

  p{
    color: #ce2f5d;
    font-weight: 500;
    padding-top: 15px;
    animation: come-in 6s ease-out;
    animation-fill-mode: backwards;
    letter-spacing:0.1em;
    
  }

  @keyframes come-in{
    0%{
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100%{
      transform: translate(0);
      opacity: 1;
    }
  }
