<!DOCTYPE html>
{% load static %}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="{%static 'style2.css'%}" rel="stylesheet">
    </head>
    <body>
      <header>
        <nav id="main">
            <div> <a href="" class="logo">Titel</a></div>
            <div class="search-bar">
              <input type="text" placeholder="Suche">
              <button>Suchen</button>
            </div>
            <div class="profile">
              {% if user.is_authenticated %}
                <a class="loged-in" href="{% url 'logout' %}">Logout</a>
                <a href="{%url 'profil'%}" class="loged-in">Mein Profil</a>
                <a href="{%url 'inbox'%}" class="loged-in">Nachrichten</a>
                {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="loged-in" style="color: red;" >Admin</a>
                {%endif%}
              {%else%}
              <a href="{% url 'login' %}" class="login">Login jetzt<a></a>
              {%endif%}
            </div>
          </nav>
        <nav id="main-search">
          <a class="main-item" href="/lehrer">Lehrer</a>
          <a class="main-item" href="">Fächer</a>
          <a class="main-item" href="">Abteilungen</a> 

          

        </nav>
      </header>
      <input id="post_erstellen" type="submit" value="Beitrag erstellen">
      <div id="beitrag-overlay"></div>
      <div id="beitrag-form">
        <form method="POST">
          <div>
            {{ beitrag_form.titel }}
          </div>
          <div>
            {{ beitrag_form.beitrag }}
          </div>
          {%csrf_token%}
          <div>
            {{ beitrag_form.image }}
            <input type="submit" value="Posten">
            <input id="Abbrechen" type="submit" value="Abbrechen">
          </div>
        </form>
      </div>
      <div>
        {% if user.is_authenticated %}
          <h1>Wilkommen, {{username}}</h1>
              
        {%endif%}
      </div>

      {% if user.is_authenticated %}
        <ul>
          {% for post in beitrag %}
            <strong><a href="{% url 'beitrag-detail' post.pk %}">{{ post.titel }}</a> <br/> </strong>
            {{ post.beitrag }}
            <img src="{{ post.image }}" alt=""> <hr>
            {%endfor%}          
        </ul>
      {%else%}
        {% for post in beitrag %}
          <strong>{{ post.titel }}</strong><br>
          {{ post.beitrag }}
          <img src="{{ post.image }}" alt=""> <hr><hr>
        {% endfor%}
      {%endif%}

      


      <script>
        document.getElementById('post_erstellen').addEventListener('click', function(event){
          var overlay = document.getElementById('beitrag-overlay');
          var form = document.getElementById('beitrag-form');
          overlay.style.display='block';
          form.style.display='block';
        });
        document.getElementById('Abbrechen').addEventListener('click', function(event){
          var overlay = document.getElementById('beitrag-overlay');
          var form = document.getElementById('beitrag-form');
          overlay.style.display='none';
          form.style.display='none';
        });
      </script>


        
    </body>
</html>
