<!DOCTYPE html>
{% load static %}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="{%static 'style2.css'%}" rel="stylesheet">
        <link href="{%static 'index.css'%}" rel="stylesheet">
    </head>
    <body>
      <header>
        <a href ="{% url 'index' %}" class="logo"> Logo </a>
        <div class="nav">
          <ul class="navigation">


                <li><a href="{% url 'index' %}">Startseite</a></li>
                <li><a href="{% url 'lehrer' %}">Lehrer</a></li>
                <li><a href="{% url 'rules' %}">Regeln</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>

                {% if user.is_authenticated %}
                <li><a class="loged-in" href="{% url 'logout' %}">Logout</a></li>
                  <li><a href="{%url 'profil'%}" class="loged-in">Mein Profil</a></li>
                  <li><a href="{%url 'inbox'%}" class="loged-in">Nachrichten</a></li>
                  
                  {% if user.is_superuser %}
                  <li></li><a href="{% url 'admin:index' %}" class="loged-in" style="color: red;" >Admin</a>
                  {%endif%}!
      
              
              {%else%}
              {%endif%}
            </div>
            
          </ul>
          
            <div class="search">
              <span class="icon">   <!--icons8.de-->
              <img name="search-outline" class="searchBtn" width="32" height="32" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/external-search-interface-kiranshastry-gradient-kiranshastry.png" alt="external-search-interface-kiranshastry-gradient-kiranshastry"/>
              <img name="close-outline" class="closeBtn" width="32" height="32" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/external-close-banking-and-finance-kiranshastry-gradient-kiranshastry.png" alt="external-close-banking-and-finance-kiranshastry-gradient-kiranshastry"/>
            </span>
            </div>
          </div>
  
          <div class="searchBox">
            <input type="text" placeholder="Suchen">
          </div>
  
          <script>document.querySelector('img[name="search-outline"]').addEventListener('click', function() {
            document.querySelector('.searchBox').style.right = '0';
        });
        
        document.querySelector('img[name="close-outline"]').addEventListener('click', function() {
            document.querySelector('.searchBox').style.right = '-100%';
        });
        </script>
  
        <script>
          let searchBtn = document.querySelector('.searchBtn');
          let closeBtn = document.querySelector('.closeBtn');
          let searchBox = document.querySelector('.searchBox');
  
          searchBtn.onclick = function (){
            searchBox.classList.add('active');
            closeBtn.classList.add('active');
            searchBtn.classList.add('active');
          }
  
          closeBtn.onclick = function (){
            searchBox.classList.remove('active');
            closeBtn.classList.remove('active');
            searchBtn.classList.remove('active');
          }
        </script>
  

          

    
      </header>
      <input id="post_erstellen" type="submit" value="Beitrag erstellen">
      <div id="beitrag-overlay"></div>
      <div id="beitrag-form">
        <form method="POST">
          <div>
            {{ beitrag_form.titel }}
          </div>
          <div>
            {{ beitrag_form.beitrag }}
          </div>
          {%csrf_token%}
          <div>
            {{ beitrag_form.image }}
            <input type="submit" value="Posten">
            <input id="Abbrechen" type="submit" value="Abbrechen">
          </div>
        </form>
      </div>
      <div>
       
      </div>

      <div class="box">
        <div class="box-inner"> 
  {% if user.is_authenticated %}
    <ul>
      {% for post in beitrag %}     

        <strong><a href="{% url 'beitrag-detail' post.pk %}">{{ post.titel }}</a> <br/> </strong>
        {{ post.beitrag }}
        <img src="{{ post.image }}" alt=""> <hr>
        {%endfor%}          
    </ul>
  {%else%}
    {% for post in beitrag %}
      <strong>{{ post.titel }}</strong><br>
      {{ post.beitrag }}
      <img src="{{ post.image }}" alt=""> <hr><hr>
    {% endfor%}
  {%endif%}
    </div>
    <div class="border top"></div>
    <div class="border left"></div>
    <div class="border right"></div>
    <div class="border bottom-left"></div>
    <div class="border bottom-right"></div>
</div>

      


      <script>
        document.getElementById('post_erstellen').addEventListener('click', function(event){
          var overlay = document.getElementById('beitrag-overlay');
          var form = document.getElementById('beitrag-form');
          overlay.style.display='block';
          form.style.display='block';
        });
        document.getElementById('Abbrechen').addEventListener('click', function(event){
          var overlay = document.getElementById('beitrag-overlay');
          var form = document.getElementById('beitrag-form');
          overlay.style.display='none';
          form.style.display='none';
        });
      </script>


        
    </body>
</html>
