<!DOCTYPE html>
{% load static %}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="{%static 'style2.css'%}" rel="stylesheet">
    </head>
    <body>
      <header>
        <nav id="main">
            <div> <a href="" class="logo">Titel</a></div>
            <div class="search-bar">
              <input type="text" placeholder="Suche">
              <button>Suchen</button>
            </div>
            <div class="profile">
              <a href="login/" id="login">Login jetzt<a></a>
            </div>
          </nav>
        <nav id="main-search">
          <a class="main-item" href="">Lehrer</a>
          <a class="main-item" href="">Fächer</a>
          <a class="main-item" href="">Abteilungen</a> 
        </nav>
      </header>
      <input id="post_erstellen" type="submit" value="Beitrag erstellen">
      <div id="beitrag-overlay"></div>
      <div id="beitrag-form">
        <form method="POST">
          {{beitrag_form.as_p}}
          {%csrf_token%}
          <input type="submit">
        </form>
      </div>


      <script>
        document.getElementById('post_erstellen').addEventListener('click', function(event){
          var overlay = document.getElementById('beitrag-overlay');
          var form = document.getElementById('beitrag-form');
          overlay.style.display='block';
          form.style.display='block';
        });
      </script>
    </body>
</html>
