<!DOCTYPE html>
{%load static%}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="{%static 'login-style2.css'%}" rel="stylesheet">
    </head>
    <body>
      <header>
        <nav id="main">
            <div> <a href="../" class="logo">Titel</a></div>
            <div class="search-bar">
              <input type="text" placeholder="Suche">
              <button>Suchen</button>
            </div>
            <div class="profile">
            </div>
          </nav>
        <nav id="main-search">
          <a class="main-item" href="">Lehrer</a>
          <a class="main-item" href="">Fächer</a>
          <a class="main-item" href="">Klassen</a>
        </nav>
      </header>
      <div class="login-window">
        <form method="POST" class="login-form">
          {{login.as_p}}
          {%csrf_token%}
          <p class="form-question">Noch keinen Account? <a href="">Hier Registrieren</a></p>
          <p class="form-question">Passwort Vergessen? <a href="">Passwort zurücksetzen</a></p>
          <input type="submit" value="Login" id="login-form-input">
        </form>
      </div>
      
    </body>
</html>
