<!DOCTYPE html>
{%load static%}
<html lang="de">


    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="{%static 'login-style2.css'%}" rel="stylesheet">
    </head>


    <body>
      <div class="login-window">
        <form method="POST"  class="login-form">

          <h2>Sign in</h2>

          {%csrf_token%}

          <div class="inputbox">
          <input type="text" name="username" required="required">
          <span>Username</span>
          <i></i>
          </div>

          <div class="inputbox">
          <input type="password" name="password" required="required" >
          <span>Password</span>
          <i></i>
          </div>

          <div class="links">
          <a href="register/">Registrieren</a>
          </div>

          <input type="submit" value="Login">
        </form>
      </div>
    </body>

</html>
