<!DOCTYPE html>
{%load static%}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="{%static 'register.css'%}" rel="stylesheet">
    </head>
    <body>
      <header>
                <a href ="{% url 'index' %}" class="logo"> Logo </a>
        <div class="nav">
          <ul class="navigation">
            <li><a href="{% url 'index' %}">Startseite</a></li>
            <li><a href="{% url 'lehrer' %}">Lehrer</a></li>
            <li><a href="{% url 'rules' %}">Regeln</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
  
          </ul>

          

          <div class="search">
            <span class="icon">   <!--icons8.de-->
            <img name="search-outline" class="searchBtn" width="32" height="32" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/external-search-interface-kiranshastry-gradient-kiranshastry.png" alt="external-search-interface-kiranshastry-gradient-kiranshastry"/>
            <img name="close-outline" class="closeBtn" width="32" height="32" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/external-close-banking-and-finance-kiranshastry-gradient-kiranshastry.png" alt="external-close-banking-and-finance-kiranshastry-gradient-kiranshastry"/>
          </span>
          </div>
        </div>

        <div class="searchBox">
          <input type="text" placeholder="Suchen">
        </div>

        <script>document.querySelector('img[name="search-outline"]').addEventListener('click', function() {
          document.querySelector('.searchBox').style.right = '0';
      });
      
      document.querySelector('img[name="close-outline"]').addEventListener('click', function() {
          document.querySelector('.searchBox').style.right = '-100%';
      });
      </script>

      <script>
        let searchBtn = document.querySelector('.searchBtn');
        let closeBtn = document.querySelector('.closeBtn');
        let searchBox = document.querySelector('.searchBox');

        searchBtn.onclick = function (){
          searchBox.classList.add('active');
          closeBtn.classList.add('active');
          searchBtn.classList.add('active');
        }

        closeBtn.onclick = function (){
          searchBox.classList.remove('active');
          closeBtn.classList.remove('active');
          searchBtn.classList.remove('active');
        }
      </script>

      </header>
        {% if registered %}
          <h1>danke für die registrierung!</h1>

        {% else %}
          <form method="post">
            {{register_form.as_p}}
            {%csrf_token%}
            <input id="register" type="submit" value="Registrieren">
          </form>
        
          {%endif%}
      </form>
    </body>
</html>
