<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href="css/register-style.css" rel="stylesheet">
    </head>
    <body>
      <header>
        <nav id="main">
            <div> <a href="index.html" class="logo">Titel</a></div>
            <div class="search-bar">
              <input type="text" placeholder="Suche">
              <button>Suchen</button>
            </div>
            <div class="profile">
              <a href="login.html" id="login">Login<a></a>
            </div>
          </nav>
        <nav id="main-search">
          <a class="main-item" href="">Lehrer</a>
          <a class="main-item" href="">Fächer</a>
          <a class="main-item" href="">Klassen</a>
        </nav>
      </header>
      
      </form>
    </body>
</html>
