<!DOCTYPE html>
{% load static %}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link href={% static "css/login.css"%} rel="stylesheet">
    </head>
    <body>
      <header>
        <nav id="main">
            <div> <a href="../" class="logo">Titel</a></div>
            <div class="search-bar">
              <input type="text" placeholder="Suche">
              <button>Suchen</button>
            </div>
            <div class="profile">
              <a id="login">Login</a>
            </div>
          </nav>
        <nav id="main-search">
          <a class="main-item" href="">Lehrer</a>
          <a class="main-item" href="">Fächer</a>
          <a class="main-item" href="">Klassen</a>
        </nav>
      </header>
      <form id="login-form">
        <div class="login-window">
          <label class="login-label" for="email">E-Mail-Adresse: </label>
          <input class="login-input" type="email" id="email" name="email" required>
        </div>
        <div class="login-window">
          <label class="login-label" for="password">Passwort: </label>
          <input class="login-input" type="password" id="password" name="password" required>
        </div> 
        <p>Noch keinen Account? <a href="register.html">Hier Registrieren</a></p>
        <p>Passwort Vergessen? <a href="">Passwort zurücksetzen</a></p>
        <button id="einlogen" type="submit">Einlogen</button>
      </form>
    </body>
</html>
