<!DOCTYPE html>
{% load static %}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Syp_Projekt</title>
        <link rel="stylesheet" href= {% static "css/style2.css" %}/> 
    </head>
    <body>
      <header>
        <nav id="main">
            <div> <a href="../" class="logo">Titel</a></div>
            <div class="search-bar">
              <input type="text" placeholder="Suche">
              <button>Suchen</button>
            </div>
            <div class="profile">
              <a href="../login" id="login">Login jetzt<a></a>
            </div>
          </nav>
        <nav id="main-search">
          <a class="main-item" href="">Lehrer</a>
          <a class="main-item" href="">Fächer</a>
          <a class="main-item" href="">Abteilungen</a> 
        </nav>
      </header>
      <h1>Hallo</h1>
      {% if user_register %}

        <table>
          <thead>
            <th>Name</th>
            <th>Nachname</th>
            <th>E-Mail</th>
          </thead>

          {% for user in user_register %}

          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.last }}</td>
            <td>{{ user.mail }}</td>
          </tr>
          {% endfor %}
        </table>

        {% else %}
          <p>no user</p>
      
      {% endif %}
    </body>
</html>